:host {
    display: block;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #2c3e50;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  .error-output{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
  }